* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Canva Sans,Noto Sans Variable,Noto Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    background-color: #DE846D;
}
h1 {
    font-size: 45px;
}



.menu-container {
    display: flex;
    justify-content: center;
}
.menu-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100em;
    height: 3em;
    padding: .25em;
    font-size: 15px;
}
.Linked-In-Banner {
    height: auto;
    width: 1.5em;
    align-items: center;
}


.main-container {
    display: flex;
}
.main-items {
    display: flex;
    align-items: center;
}


.bio-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 70%;
}
.bio-items {
    display: flex; 
    background-color: #6ddebc;
    justify-content: center; 
    flex-direction: column;
    gap: 4em;
    padding: 1em;
    padding-right: 5em;
}
.bio-background {
    background-color: #6ddebc;
}


.button-container {
    display: flex;
    justify-content: stretch;
    flex-direction:column;
    align-items: stretch;
    width: 30%;
    height: 100%;
}
.button-items {
    display: flex; 
    justify-content: flex-start; 
    flex-direction: column;
    align-items: stretch;
}

#contact-button {
    display: flex;
    font-size:xx-large;
    background-color: #DE6D8F;
    padding: 1em;
}
#links-button {
    display: flex;
    font-size:xx-large;
    background-color: #846DDE;
    padding: 1em;
}
#idk-button {
    display: flex;
    font-size:xx-large;
    background-color: #6DDE84;
    padding: 1em;
}


